*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-300: #D9B8FE;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;
    --white: #FAFAFA;
}
/* logo style */
.logo{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
/* style image and content */
.hero{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
    margin-top: 64px;

}
.content{
    gap: 32px;
    text-align: center;
}
/* style first heading */
.content h1{
    font-family: 'Red Hat Display';
    font-weight: 900;
    font-style: black;
    font-size: 64px;
    letter-spacing: 0px;
    color: #28283D;
    line-height: 1.2;
}
/* style paragraph */
.content p{
    font-family: 'Red Hat Display';
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    letter-spacing: 0px;
    color: #87879D;
    margin-top: 32px;
    line-height: 1.2;
}
/* style buttons */
.btn{
    width: 193px;
    height: 56px;
    border-radius: 29px;
    padding: 16px 40px;
    margin-top: 32px;
    gap: 8px;
    background-color: #4D96A9;
    font-family: 'Red Hat Display';
    font-weight: 900;
    font-style: black;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #FAFAFA;
}
.btn:hover{
    border-radius: 2px solid black;
    font-size: large;
}
.btn em{
    font-family: 'Red Hat Display';
    font-weight: 900;
    font-style: black;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #8FE3F9;
}
em:hover{
     border-radius: 2px solid black;
     font-size: large;
}
/* change background for second btn */
.btn-2{
  background-color: #855FB1;
  margin-left: 17px;
}
/* style main content */
.main-content {
  text-align: center;
}
/* img number */
.number {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 56px;
}
/* style size  img number  */
.number img {
  width: 56px;   
  height: auto;
  display: block;
}
/* style images */
.images {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  margin-top: 64px;
  place-content: center;
}

/* style content 2 */
.content-2 {
  display: grid;               
  text-align: center;
  margin: 3rem auto 0;   
}
.content-2 h4 {
  font-family: 'Red Hat Display';
  font-weight: 900;
  font-style: black;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 4px;
  color: #4D96A9;
}
.content-2 h2 {
 font-family: 'Red Hat Display';
 font-weight: 900;
 font-style: black;
 font-size: 40px;
 letter-spacing: 110%;
 letter-spacing: 0px;
 color: #28283D;
}
.content-2 p {
    font-family: 'Red Hat Display';
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #87879D;
    margin-top: 32px;
    line-height: 1.2;
}
footer .number {
    position: relative;
    top: 30px;
}
.content-3 {
    background-color: #8FE3F9;
    display: flex;             
    justify-content: space-around;
    align-items: center;         
    padding: 100px 1rem;          
    flex-wrap: wrap;             
}
.content-3 h2{
    font-family: 'Red Hat Display';
    font-weight: 900;
    font-style: black;
    font-size: 40px;
    color: #FAFAFA;
}
.content-3 p{
    font-family: 'red hat display';
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    color: #FAFAFA;
}
.content-3 button{
    padding: 16px 40px;
    width: 200px;
    background-color: #855FB1;
    border-radius: 29px;

}

/* Tablet: 768px to 991px */

@media (min-width: 768px) and (max-width: 991px) {
    .logo{
        margin-top: 48px;
    }
    .hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .content {
        grid-column: 1 / -1; 
        justify-self: center;
        order: 3;
        max-width: 400px;
        
    }

    .content h1{
        font-size: 48px;
    }
    .content p{
        font-size: 16px;
    }
    .btn{
        width: 193px;
    }
    .number{
        display: flex;
        justify-content: center;
    }
    .images {
       display: grid;
       grid-template-columns: repeat(4, auto);
       justify-content: center;
       gap: 24px;
    }
    .images img{
        width: 160px;
        height: auto;
        display: block;
    }
    .content-2 {
        margin: 2rem auto 0;
        text-align: center;
    }
    .content-2 h2 {
        width: 448px;
        font-size: 48px;
    }
    .content-2 p {
        font-size: 16px;
        margin-top: 24px;
    }

    .content-3 {
        grid-template-columns: 1fr 1fr; /* 2 columns on tablet */
        padding-top: 80px;
        padding-bottom: 80px;
    }

    button {
        width: 180px;
        padding: 14px 32px;
    }
}


/* Mobile: less than 768px */

@media (max-width: 767px) {

    .hero {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
    }
    .content {
        grid-column: 1 / -1; 
        justify-self: center;
        order: 3;
        max-width: 400px;
    }
    .content h1{
        font-size: 48px;
    }
    .content p{
        font-size: 16px;
    }
    .btn{
        width: 193px;
    }
    .number{
        display: flex;
        justify-content: center;
        margin-top: 56px;
    }
    .images {
       display: grid;
       grid-template-columns: repeat(2, auto);
       justify-content: center;
       gap: 24px;
    }
    .images img{
        width: 160px;
        height: auto;
        display: block;
    }

    /* Content-2 adjustments */
    .content-2 {
        width: 100%;
        max-width: 100%;
        margin: 1.5rem auto 0;
        text-align: center;
    }
    .content-2 h2 {
        font-size: 28px;
    }
    .content-2 p {
        font-size: 14px;
        margin-top: 16px;
    }
}
